{% extends 'base.html' %}
{% block title %}我的网站|登录{% endblock %}
{% block nav_home_active %}active{% endblock %}     <!-- ？ 激活不激活 -->
{% block content %} 
<div class="login">
        <div class="login-1"></div>
        <div class="login-2">       
            <form action="#" method="POST" class="logg">
                    {% if not user.is_authenticated %}
                    <div class="log">
                    <div class="log-1">登录</div>
                    {% csrf_token %}                   
                    {% for field in login_form %}
                        {{ field }}
                        <span class="text-danger">{{ field.errors.as_text }}</span>
                    {% endfor%}
                    <span class="text-danger">{{ login_form.non_field_errors }}</span>
                    <div class="clearfix"></div>
                    <a href="{% url 'forgot_password' %}" class="pull-left">忘记密码？</a>
                    <input class="submit" type="submit" value="登录">                   
                    </div>

                {% else %}
                <span>已登录，跳转到首页...</span>
                <script type="text/javascript">
                    window.location.href = '/';
                </script>     
                <!-- 可以设置 等待1秒 -->
                {% endif %}   
            </form>   
        </div>
        <div class="login-3"></div>
    </div> 
{% endblock %}
